/* Style.css */
html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #00CC99;
    height: 60px;
    color: #fff;
}

.header h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.header h3 {
    margin: 0;
    padding: 18px;
    text-align: center;
    float: left;
}

.header h3 a {
    color: #fff;
    text-decoration: none;
}

.content .leftside {
    width: 20%;
    float: left;
}

.content .rightside {
    width: 20%;
    float: right;
}

.content .article {
    width: 60%;
    float: left;
    margin: 0;
    padding: 0 10px 0 10px;
    background-color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 25px;
    color: rgb(41, 47, 51);
}

.content .article .posted {
    text-align: right;
    margin: 10px 0 -5px 0;
    color: #c2c2c2;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 25px;
}

.content .article .written-article {
    margin: 40px 20px 0 40px;
}

.content .article .written-article .posted {
    float: right;
    margin: 0;
    color: #c2c2c2;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 25px;
}

.content .article .written-article .header {
    background-color: #fff;
    margin: 20px 0 -20px 0;
}

.content .article .written-article .header a {
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 26px;
    color: #c2c2c2;
}

pre {
    line-height: 15px;
}

code {
    font-family: 'Droid Sans Mono',sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #00CC99;
}
